.navbar-brand {
    color: white;
    pointer-events: none; /* 이벤트 처리 무효, 추후 구현해볼 것 */
}

#content1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#id {
    width: 200px;
    margin: 0 auto;
}

#password {
    width: 200px;
    margin: 0 auto;
}

#login {
    display: inline-block;
}

#register {
    display: inline-block;
}

#loginform {
   width: 500px;
   margin: 0 auto;
   border: 8px solid #e8e8e8;
}