{{>layouts/header}}

<!-- content -->
<div class="bg-light text-black p-5">
    {{#testList}}
        <div class="bg-info text-black p-5" id="content1">
            <h2>{{name}}님, 안녕하세요! 나이는 {{age}}살 이시고, 취미는 {{hobby}}이군요!</h2>
        </div>
    {{/testList}}
</div>


{{>layouts/footer}}